
.mt-20{
	margin-top: 20px;
}
.mt-50{
	margin-top: 50px;
}
.mt-100{
	margin-top: 100px;
}



/* users css */

.bodylogins{
	background:#376092;
	border: 1px solid #376092;
	padding: 20px;
}
.forgotLogin{
	text-align:right;
	font-style:italic;
}
.formpassword{
	margin-bottom:0;
}
.logo{
	text-align:center;
}
.forgotlink{
	color: #000;
    font-size: 12px;
    font-family: calibri;
	cursor:pointer;
	font-weight:normal;
}
.buttonslogin{
	background-color: #fff;
	color: #2f629f;
	width: 100%;
	padding: 3%;
	margin-bottom: 6%;
}
.buttonslogin:hover{
	transition: .3s;
	background:#1362c0;
	color: #fff;
	border: 1px solid #1362c0;
}
.buttonslogin:focus{
	transition: .3s;
	background:#1362c0;
	border: 1px solid #1362c0;
	color: #fff;
}
.labellogin{
	font-family:calibri;	
	color: #fff;
}

/* for header css */

.headerHead{
	/* width:85%; */
	margin:auto;
}
.headerMainDiv{
	box-shadow: 0px -2px 5px gray;
}
.logoheader{
	z-index: 1;
    position: relative;
	margin-top: -15px;
}
.headerHeadup{
	background: #3167a8;
	background: -moz-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
	background: -webkit-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
	background: -o-linear-gradient(90deg, #3167a8 40%, #3c7bc7 96%);
	background: -ms-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
	background: linear-gradient(0deg, #3167a8 41%, #3c7bc7 96%);
	-moz-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
	border:none;
	border-radius: 0px;
	box-shadow: 0px 2px 5px 0px rgba(128, 128, 128, 0.83);
}
.headerHeaddown{
	background: #cccccc;
	border:none;
	margin-top:-19px;
	box-shadow: 0px 2px 5px 0px rgba(128, 128, 128, 0.83);
}
.navbar{
	min-height: 56px;
}
.navbar-inverse .navbar-nav  li  a {
	padding: 2px 15px;
	color:#000;
	font-size:16px;
	transition: .3s;
}
.headerlink{
	margin-top: 31px;
}
.headerlinkHidden{
	margin-left:150px;
}
.link-selected{
	color:#fff !important;
	background: -moz-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
	background: -webkit-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
	background: -o-linear-gradient(90deg, #3167a8 40%, #3c7bc7 96%);
	background: -ms-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
	background: linear-gradient(0deg, #3167a8 41%, #3c7bc7 96%);
} 
.logginghead{
	padding: 17px 15px !important;
	color:#fff !important;
}
.navbar-inverse .navbar-nav  li  a:hover, .navbar-inverse .navbar-nav  li  a:focus {
    color: #fff;
    background: -moz-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
	background: -webkit-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
	background: -o-linear-gradient(90deg, #3167a8 40%, #3c7bc7 96%);
	background: -ms-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
	background: linear-gradient(0deg, #3167a8 41%, #3c7bc7 96%);
	transition: .3s;
}
.settingDrop{
	background: #B9B9B9;
    padding: 0;
    min-width: 115px;
}
.settingDropdown{
	border-top:solid 1px #c8c8c8;
	border-bottom:solid 1px #c8c8c8;
}
.headDrop{
	background: #B9B9B9;
    padding: 0;
    min-width: 115px;
}
.headDropdown{
	border-top:solid 1px #c8c8c8;
	border-bottom:solid 1px #c8c8c8;
}

.spanApp{
	color: #e40000;
    border: solid 1px;
    border-radius: 94%;
    padding: 1px;
}
.notify{
	color:#d40000;;
}

/* new request */
.requestSelection{
	width:250px;
	height:27px;
	border:solid 1px #c8c8c8;
	padding:5px;
	font-size:12px;
	font-family:calibri;
	border-radius:5px;
}
.foradditionClass{
	padding:5px;
}
.foradditionClass2{
	padding:5px;
	padding-left:12px;
}

.buttonSubmit{
	text-align: right;
}
.buttonSubmitNew{
	background: -moz-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%) !important;
	background: -webkit-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%) !important;
	background: -o-linear-gradient(90deg, #3167a8 40%, #3c7bc7 96%) !important;
	background: -ms-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%) !important;
	background: linear-gradient(0deg, #3167a8 41%, #3c7bc7 96%) !important;
	border:none !important;
	width:115px !important;
	box-shadow: 0px 2px 5px 0px rgba(128, 128, 128, 0.83) !important;
}

/* ----- */
/* support */
.supportTable a{
	cursor:pointer;
}


/* ---------- */

/* overall */
.mainformoverall{
	width:85%;
	margin:auto;
	border: solid 1px #c8c8c8;
    border-top: none;
	/* box-shadow: 1px 1px 10px 0px gray; */
	box-shadow: 0px 2px 5px gray;
	margin-top: -5px;
}
.headerText{
    font-size: 22px;
    font-weight: bold;
}
.formMain{
	padding-top: 20px;
}
.headerList{
	padding-top: 25px;
}
.searchFilter{
	width: 150px;
    height: 26px;
    font-family: calibri;
    font-size: 12px;
	border: solid 1px #c8c8c8;
}

.headerButton{
	border: solid 1px #c8c8c8;
    background: #fff;
    width: 75px;
    height: 27px;
    border-radius: 5px;
    font-family: calibri;
    font-size: 15px;
	color: #000;
}
.buttonLink a{
	color:#000;
}



.form-control{
	height:30px;
}
.btn-danger:hover{
	color:#3167a8;
	color:#fff;
}
.headContainer{
	background-color: #EAEAEA;
    padding: 10px;
	border-radius: 12px 12px 0px 0px;
}
.tableHeaderTh{
	background-color: #EAEAEA;
}
.newrequestButtons{
	text-decoration:none;
}
.newrequestButtons:hover{
	text-decoration:none;
}

/* footer */
.footerDiv{
	width:85%;
	margin:auto;
	margin-bottom:25px;
	padding-bottom:20px;
	border:solid 1px #c8c8c8;
	border-top:none;
	box-shadow: 0px 2px 5px gray;
}
.footerLink{
	text-align:center;
	padding-top: 10px;
}
.linebar{
	color: #337AC6;
}
.footerLink a{
	font-size: 11px;
    color: rgb(37, 64, 97);
}
.divFooterClassRequest{
	/* height:30px;
	padding:5px;
	text-align:right;
	background: -moz-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
	background: -webkit-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
	background: -o-linear-gradient(90deg, #3167a8 40%, #3c7bc7 96%);
	background: -ms-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
	background: linear-gradient(0deg, #3167a8 41%, #3c7bc7 96%); */
	/* height: 30px;
    width: 85%;
    margin: auto;
    padding: 5px;
    text-align: right;
    background: -moz-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
    background: -webkit-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
    background: -o-linear-gradient(90deg, #3167a8 40%, #3c7bc7 96%);
    background: -ms-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
    background: linear-gradient(0deg, #3167a8 41%, #3c7bc7 96%);
	box-shadow: 0px 1px 5px gray; */
}
.divFooterClassRequestfoot{
	/* height:30px;
	padding:5px;
	text-align:right;
	background: -moz-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
	background: -webkit-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
	background: -o-linear-gradient(90deg, #3167a8 40%, #3c7bc7 96%);
	background: -ms-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
	background: linear-gradient(0deg, #3167a8 41%, #3c7bc7 96%); */
	height: 30px;
    width: 85%;
    margin: auto;
	margin-bottom:1%;
    padding: 5px;
    text-align: right;
    background: -moz-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
    background: -webkit-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
    background: -o-linear-gradient(90deg, #3167a8 40%, #3c7bc7 96%);
    background: -ms-linear-gradient(90deg, #3167a8 41%, #3c7bc7 96%);
    background: linear-gradient(0deg, #3167a8 41%, #3c7bc7 96%);
	box-shadow: 0px 1px 5px gray;
}
.selectPage{
	width:100px;
	height:22px;
	padding:5px;
	font-family:calibri;
	font-size:12px;
}
.pageText{
	color:#fff;
}

/* request
 */
.requestTable a{
	cursor:pointer;
}
.headNote{
	padding:3%;
}
.chat{
	font-size:12px;
}
.com{
	color:#346cb0;
}
.comcontainer{
	text-align:right;
}	
.textareaText{
	color:#000;
}
.textBoxarea{
	margin-top:5px;
}
.descRequest{
	background-color: #eee;
    min-height: 252px;
    overflow: auto;
}
/* profile */
.changePassword{
	font-style: italic;
    color: #000;
    font-weight: bold;
    font-size: 12px;
}
.foradditionClassProfile{
	padding:5px;
	padding-left:20px;
}
.hiddenxslogo{
	width: 132px;
    position: absolute;
    margin-top: 21px;
    margin-left: -17px;
}  

.popBack, .popup, .supportPopBack{
	background: black;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(1, 1, 1, 0.3);
	overflow:scroll;
}
.hidden{
	display: none;
}
.spanNo{
	font-size:30px;
	color:#5A5959;
}
.textdashpad{
	/* padding-left: 36px; */
	text-align:center;
}
.dashImg{
	height:48px;
}
.textDownDash{
	color: #000;
    font-family: calibri;
    font-size: 15px;
}
.dashImgOpen{
	height:48px;
}
.textleftDash{
	color: #ADACAC;
    font-family: calibri;
    font-size: 15px;
}
.leftrowDash{
	border-left: solid .5px #D4D4D4;
}
.spanNoCharge{
	font-size:19px;
	color:#383838;
}
select .disabled{
    background: #999999;
}
.alert-message{
    font-style: italic;
    color: #e62c24;
    font-weight: bold;
    font-size: 12px;
}
.loginStatus{
    font-style: italic;
    color: #e62c24;
    font-weight: bold;
    font-size: 12px;
}

.tableresponsivex{
  height: 100%;
  min-height: 100%;
}

.divHeight{
	height:300px;
}
.tableHeight{
	height:400px;
}

.changePassuser{
	font-weight: bold;
    font-style: italic;
}
.dataTables_wrapper{
	height:20%;
}
.tableform{
	/* height:500px; */
}
.dataTables_length{
	display:none;
}
.dataTables_filter{
	text-align: right;
    padding: 5px;
}
input[type=search] {
	margin-left:10px;
}

.newform{
	/* height:986px !important;
	overflow-y: scroll;
	overflow-x: hidden; */
}
.footer-fixed
{  
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 45px;
}
.marginiszxter{
	margin-top: 5%;
}
.footer-standard
{  
	margin-top: 30px;
	width: 100%;
}

/* modal */
.modalTitle{
	padding: 5px 5px 5px 15px;
	background-color:#3167a8;
	color:#fff;
	font-size:12px;
}
.contentModel{
	background-color:#3167a8;
}
.chatText{
	width:98%;
	margin: 6px;
    margin-top: 10px;
}
.headerMode{
	background-color:#fff;
	padding: 6px 10px 5px 15px;
}
.bodyModal{
	background-color:#fff;
	height: 245px;
	overflow-y: auto;
}
.divFoot{
	background-color:#3167a8;
	padding:2px;
}
.divPad{
	background-color:#fff;
	padding:3px;
}
.chatr{
	text-align:left;
	float:left;
	padding: 0px 0px 0px 10px;
	width:80%;
	background-color: #c8dbf3;
	margin-left:10px;
	border-radius: 5px;
	margin-top: 5px;
}
.chatl{
	text-align:right;
	float:right;
	padding: 0px 10px 0px 0px;
	background-color: #6aadff;
    border-radius: 5px;
	width:80%;
	margin-right:10px;
	margin-top:5px;
}
.messages{
	background-color: #fff;
}
.timesent{
	font-size:9px;
}
.showApproverClass{
    font-weight:bold;
}
.hoverPriority{
		position:absolute;
		margin-left:45%;
		width:300px;
		text-align:justify;
		margin-top:14%;
		
}
.rankTable th{
	text-align:center !important;
	padding-left:15px !important;
	padding-right:15px !important;
}

.rankButton{
	background-size:100% 100% !important;
	padding:20px !important;
}

.rankClick{
	background-color: #6ed1f5 !important;
}




/* RBLAGAHIT CSSSSSSSSSSSSSSSSSS */
.mt-20{
	margin-top: 20px;
}
.mt-50{
	margin-top: 50px;
}
.mt-100{
	margin-top: 100px;
}
.well-payaman{
	padding: 20px;
}








#loading-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color:  rgba(206, 206, 206, 0.8);
	z-index: 500;
	display: none;
}


#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  margin: -90px 0 0 -35px;
}

#loading-content {
  border: 15px solid #fff;
  border-top-color: #4D658D;
  border-bottom-color: #4D658D;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}



@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.thisEmail{
	text-align: left;
	position: relative;
	padding: 3%;
	background: #eee;
	margin-bottom: 5px;
	color: #676767;
	font-size: 16px;
	outline: none;
	border: none;
	border-radius: 5px;
	border: 1px solid #DED6D6;
	width: 100%;
}
.thisEmail:focus{
	border: 2px solid #30c1bc;
}
.title-log{
	color: #fff;
}
#btn-forgot{
	background: #376092;
	border: none;
	color: #fff;
}
.iHeight{
	min-height:100vh !important;
	max-height:100% !important;
}